.turnaroundHeaderWrapper-large, .turnaroundHeaderWrapper-small {
  width: 100%;
  height: 6%;
  background-color: #1B2E4B;
  border-radius: 0.3vmax 0.3vmax 0 0;
}
.turnaroundHeaderQuitWrapper-large, .turnaroundHeaderQuitWrapper-small {
  width: 15%;
  margin: auto 1.3vmax;
}
.turnaroundHeaderQuit-large, .turnaroundHeaderQuit-small {
  cursor: pointer;
  width: 0.7vw;
  float: right;
  filter: brightness(0) invert(1);
}
.turnaroundHeaderIcon-large {
  width: 1vmax;
}
.turnaroundHeaderIcon-small {
  width: 1vmax;
}
.turnaroundHeaderTop-large, .turnaroundHeaderTop-small {
  margin: auto 0;
  width: 100%;
  display: flex;
  text-align: center;
  height: 100%;
}
.turnaroundHeaderReport-large, .turnaroundHeaderReport-small  {
  cursor: pointer;
  color: white;
}
.turnaroundHeaderDisableReport-large, .turnaroundHeaderDisableReport-small  {
  pointer-events: none;
  color: grey;
}
